body{
    background-color: #F4F4F4;
    font-family: "Calibri";
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: 100%;
}

.card {
    background-color: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin: 30px;
}

.card-img{
    width: 100%;
    height: 155px;
    object-fit: cover;
}

.card-body {
    text-align: start;
    padding: 7px 14px 14px 14px;
}

.card-title {
    display: block;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #080808;
}

.card-subtitle {
    color: #969696;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 200;
}

.card-text {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #080808;
}

.card-link {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: cornflowerblue;
    margin-right: 8px;
}

.card-link:hover {
    color: coral;
}

.card-body-profile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    text-align: start;
    padding: 2px 14px 7px 14px;
}

.img-profile{
    border-radius: 50%;
    width: 15%;
    height: 15%;
    padding: 5px;
}

.card-text-profile {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #080808;
}

.text-timestamp {
    color: #969696;
}
